<!DOCTYPE html>
<html>
<head>
    <title>Запись на прием</title>
    <style>
        body {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: green;
          font-size: 48px;

        }
    .centered-text {
      text-align: center;
      margin: 500px auto;
    }
    </style>
</head>
<body>

<div class="centered-text">
    Вы записаны, вам позвонят в течении 3-х суток
</div>
</body>
</html>
